jsonschema>=4.18.0
simplejson==3.11.1
confluent-kafka
fastavro
avro-python3
starrocks
quixstreams
#pyspark==3.4.0
minio
#delta-spark==2.4.0
PyDrive
boto3
pynessie
pyiceberg[glue,s3fs,duckdb,pyarrow]
PyDrive
faker
semver
pytest-mock==3.7.0
pytest_cov==3.0.0
pytest==7.1.1
pre_commit==2.18.1
python-semantic-release